//- Jay Patel
//- 200426063
//- about.pug = This page includes my information of skill sets and courses to display
extends layout
block content
 center
  .card(style='width:400px')
    .card-body
      h4.card-title Jay Patel
      p.card-text To obtain a co-op position within the field of Computer Programming Analyst 
 
  .card(style='width:100%')
    .card-body
      h4.card-title Skills
      p.card-text Friendly, approachable and able to effectively communicate with clients and staff. 
      p.card-text Possess core knowledge about the specifications, functions, and working of the technology. 
      p.card-text Tend to distribute work and allocate different time slots to each task which assists to accomplish desired goals.
      p.card-text A punctual worker who uses time effectively to meet deadlines.    
      p.card-text Excellent team player who works respectfully with others.   
      p.card-text Ability to work well with minimal supervision.   
      p.card-text Coherent and fluent; oral and written skills in English, Hindi, and Gujarati.
      p.card-text Good Command over Microsoft office.

  .card(style='width:100%')
    .card-body
      h4.card-title Key Course
      p.card-text The Main Frame Environment 
      p.card-text .NET Programming using C# 
      p.card-text Web Programming Using PHP
      p.card-text Java    
      p.card-text DBMS,    
      p.card-text C++
      p.card-text JavaScript