//- Jay Patel
//- 200426063
//- footer.pub = partial view of template to show footer on all pages
div.navbar-inverse(style="width: 100%; height: auto; position: fixed; bottom: 0; color: whitesmoke; text-align: center;")
  h3 Jay Patel Portfolio 
  p Created By : Jay Patel
  p Student Number : 200426063