//- Jay Patel
//- 200426063
//- index.pug = This is the first page to load and shows a little description of me
extends layout
block content
  div(style="font-family: Times New Roman; background-color: whitesmoke")
    div(style="width: 60%; margin-left: 10%; padding: 10px;")
      h1 Jay Patel  : Welcome to my Portfolio Project
      p(style="margin-left: 10%; text-align: justify; text-justify: inter-word; ") I am pretty much into java, but node.js and java script is a bit tough language for me,. I like java script as of semester 3 the design and animation were amazing. JavaScript is the only choice to develop new web applications in the web browser. As of it is used for traditional web sites and back-end API services, but was designed with real-time. And a group can easily tackle troubleshooting as of it is highly ease with visual studio.
      h2 You'll Find My Work and Details about Me in this portfolio Website. Keep Exploring