//- Jay Patel
//- 200426063
//- services.pug = This page uses collapse buttons to show services that i have done so far in my career
extends layout
block content
  button(data-toggle='collapse' data-target='#service1' style="width: 100%; height: 60px;") CUSTOMER SERVICE 
  #service1.collapse
   p(style="text-align: center")
    | At Cafe Leo, India
    br
    | Greets and serves guests, maintains food safety.
    br
    | From Nov 2018 to Feb 2019
  button(data-toggle='collapse' data-target='#service2' style="width: 100%; height: 60px;") Subway Sandwich Artist 
  #service2.collapse
   p(style="text-align: center")
    | At Subway
    br
    | Greets and serves guests, prepares food, maintains food safety and sanitation standards, and handles or processes light paperwork
    br
    | From May 2019 to Present
  button(data-toggle='collapse' data-target='#service3' style="width: 100%; height: 60px;") Subway Sandwich Artist  
  #service3.collapse
   p(style="text-align: center")
    | At Subway
    br
    | Greets and serves guests, prepares food, maintains food safety and sanitation standards, and handles or processes light paperwork
    br
    | From May 2019 to Present